*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
app/build
/captures
.externalNativeBuild
local.properties
/local.properties
*.jks
*.keystore
*.p12
*.pkcs12
*.keys
*.key
*.pem
*.cer
*.crt
/tkno
*.tkno
