<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:icon="@null"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.tkno.arut.ArutActivity"
            android:exported="true"
            android:permission="android.permission.WRITE_SECURE_SETTINGS"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="com.tkno.arut.START" />
                <action android:name="com.tkno.arut.STOP" />
            </intent-filter>
        </activity>

        <service
            android:name="com.tkno.arut.ArutService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse|connectedDevice"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Reverse tethering network forwarding service" />
        </service>
    </application>

</manifest>